# Firebase Admin SDK
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIREBASE_PROJECT_ID=

# Google APIs
GOOGLE_MAPS_API_KEY=
GEMINI_API_KEY=

# App
APP_ENV=development
ALLOWED_ORIGINS=http://localhost:3000
